---
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<title>OneHealth DataSpace x CESGA — EVENTO FINAL</title>
		<meta name="title" content="OneHealth DataSpace x CESGA — EVENTO FINAL" />
		<meta name="description" content="Evento final del proyecto OneHealth DataSpace" />
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://dataspacedatalife.github.io/onehealth-dataspace-evento-final/" />
		<meta property="og:title" content="OneHealth DataSpace x CESGA — EVENTO FINAL" />
		<meta property="og:description" content="Evento final del proyecto OneHealth DataSpace" />
		<meta property="og:image" content="https://dataspacedatalife.github.io/onehealth-dataspace-evento-final/meta-1.png" />
		
		<!-- X (Twitter) -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://dataspacedatalife.github.io/onehealth-dataspace-evento-final/" />
		<meta property="twitter:title" content="OneHealth DataSpace x CESGA — EVENTO FINAL" />
		<meta property="twitter:description" content="Evento final del proyecto OneHealth DataSpace" />
		<meta property="twitter:image" content="https://dataspacedatalife.github.io/onehealth-dataspace-evento-final/meta-1.png" />
		
		<!-- Meta Tags Generated with https://metatags.io -->

		<link rel="icon" href="/onehealth-dataspace-evento-final/favicon.ico" />
	</head>
	<body class="min-h-screen bg-transparent text-stone-900 antialiased">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
